/*本文*/
body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    background-color:#40e0d0;
    color : #eeeeee;
    font-size:17px;
}
a:link{
  color:#eeeeee;
}
a:visited{
  color: #eeeeee;
  }
a.white:link {
  text-decoration : underline;
  color : #393e46;
  }
a.white:visited {
  text-decoration : underline;
  color : #393e46;
  }
/*ヘッダーロゴ部分*/
.header-logo{
    font-size:30px;
    float:left;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:40px;
    padding-left:40px;
  }
/*ヘッダー部分*/
.header{
background-color : #00adb5;
height : 90px;
}
/*ヘッダーリスト内*/
.header-list li{
    list-style: none;
    float: left;
    padding-top:33px;
    padding-bottom:33px;
    padding-right:20px;
    padding-left:20px;
}
/*メイン部分*/
.main{
 background-color : #aad8d3;
 padding:100px 80px;
}
.main h1{
    color:#393e46;
}
.main h2{
    font-weight: lighter;
    color:#eeeeee;
}
.main h3{
    font-weight: lighter;
    color:#eeeeee;
}
.main p{
  color:#eeeeee;
}
.copy-container h1{
  font-size:140px;
}
.copy-container h2{
  font-size:60px;
}
.bdcr{
    color: gray;
}
/*like movie背景*/
.movieback{
  height:50px;
  width: 135px;;
  background-color : #00adb5;
}
/*箇条書き適応*/
li {
    list-style: none;
  }
/*フッター部分*/
.footer{
    color: #fff;
 background-color : #393e46;
 height : 120px; 
 padding:40px;
}
/*フッターロゴ部分*/
.footer-logo{
    font-size:32px;
    float:right;
  }
  /*フッターリスト部分*/
  .footer-list{
    float:right;
  }
  /*フッターリスト部分内*/
  .footer-list li{
    padding-bottom:20px;
  }
  span{
    font-size:40px;
    font-weight: bolder; 
}
